*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Source Sans Pro', sans-serif;
    --secondary-font: 'Poiret One', cursive;
    --body-font: 'Cabin', sans-serif;
    --headings-font: 'Herr Von Muellerhoff', cursive;
    --main-font-color-dark: #252525;
    --secondary-font-color: #e1b164;
    --body-font-color: #515151;
    --white-color: #fff;
    --dark-bg: #121212;
}

html {
    font-family: var(--body-font);
    font-size: 10px;
    color: var(--body-font-color);
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

section {
    padding: 62px 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%; 
}

a {
    text-decoration: none;
}

p {
    font-size: 25px;
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    
}

/* HEADER */

header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.5), transparent);
}

.navbar {
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 40px;
    color: var(--white-color);
    letter-spacing: 2px;
    transition: color .4s;
}

.logo:hover {
    color: var(--secondary-font-color);
}

.menu-toggle {
    color: var(--white-color);
    font-size: 35px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 40px;
    cursor: pointer;
    z-index: 1500;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    min-height: 100vh;
    background-color: var(--main-font-color-dark);
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform .5s;
}

.navbar::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.5s;
}

.show .fa-times {
    display: block;
}

.show .fa-bars {
    display: none; 
}

.show .nav-list {
    transform: translateX(0);
}

.show .nav::before {
    opacity: 1;
    transform: scale(1);
}

.nav-item {
    border-bottom: 2px solid rgba(255,255,255,.3);
}

.nav-link {
    display: block;
    color: var(--white-color);
    font-size: ;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color .5s;
}

.nav-link:hover {
    color: var(--secondary-font-color);
}

/* HERO SECTION*/

.hero {
    width: 100%;
    height: 100vh;
    background: url("images/8.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.headline {
    font-family: var(--main-font);
    font-size: 56px;
    font-weight: 900;
    color: var(--white-color);
    text-transform: uppercase;
    letter-spacing: 8px;
    margin-right: -8px;
    opacity: 0;
    animation-name: scaleBigger;
    animation-duration: .5s;
    animation-fill-mode: both;
}

h1.headline {
    font-family: var(--secondary-font);
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 32px;
    opacity: 0;
    animation-name: scaleBigger;
    animation-duration: .5s;
    animation-fill-mode: both;
}

.sub-headline {
    font-size: 136px;
    font-family: var(--headings-font);
    color: var(--secondary-font-color);
    font-weight: 100;
    line-height: .4;
    letter-spacing: 2px;
    opacity: 0;
    animation-name: fadeUp;
    animation-duration: .5s;
    animation-fill-mode: both;
    animation-delay: .5s;
}

.sub-headline::first-letter {
    text-transform: uppercase;
    font-size: 165px;
}

.btn {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn-primary {
    background-color: var(--secondary-font-color);
    color: var(--white-color);
    padding: 32px 48px;
    transition: all .4s;
}

.btn-primary:hover {
    background-color: var(--white-color);
    color: var(--secondary-font-color);
}

/* STORY SECTION*/

.global-headline {
    margin-top:63px;
    text-align: center;
}

.our-story .global-headline {
    margin-top: 110px;
}

.asterisk {
    font-size: 20px;
    color: var(--body-font-color);
    margin: 38px 0;
    opacity: 0;
    animation-name: spin;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-delay: .7s;
}

.headline-dark {
    color: var(--main-font-color-dark);
    letter-spacing: 12px;
    margin-right: -12px;
}

.global-headline .sub-headline {
    letter-spacing: -1px;
    line-height: .42;
}

.row {
    text-align: center;
}

.description {
    margin-bottom: 48px;
}

.description p {
    line-height: 1.6;
    margin-bottom: 38px;
}

.btn-secondary {
    color: var(--secondary-font-color);
    position: relative;
    transition: color .5s;
}

.btn-secondary::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: var(--secondary-font-color);
    transition: background-color .5s;
}

.btn-secondary:hover,
.btn-secondary:focus {
    color: var(--main-font-color-dark);
}

.btn-secondary:hover::before,
.btn-secondary:focus::before {
    background-color: var(--main-font-color-dark);
}

/* ALWAYS FRESH */

.always-fresh {
    background: url("images/tasteful-recipes.jpg") center no-repeat;
    background-size: cover;
}

.shared {
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* MENU SECTION */

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
}

.menu .description {
    padding-top: 48px;
    margin-bottom: 0;
}

/* TASTY SECTION */

.tasty {
    background: url("images/14.jpg") center no-repeat;
    background-size: cover;
}


/* FOOTER */

footer {
    background-color: var(--dark-bg);
    color: var(--white-color);
    padding: 112px 0 80px;
    position: relative;
    text-align: center;
}

.back-to-top {
    background-color: var(--dark-bg);
    border-radius: 50%;
    position: absolute;
    top: -48px;
    left: 50%;
    width: 112px;
    height: 112px;
    transform: translateX(-50%);
}

.back-to-top i {
    display: block;
    color: var(--white-color);
    font-size: 12px;
    padding: 12px;
    animation-name: showsUp;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.footer__content {
    overflow: hidden;
}

.footer__content h4 {
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 48px;

}

footer .asterisk {
    color: var(--secondary-font-color);
    margin: 38px;
}

.footer__content-about {
    margin-bottom: 86px;
}

.footer__content-about p {
    line-height: 1.8;
}

.social-icons {
    margin-bottom: 86px;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 32px;
    color: var(--white-color);
    padding: 12px 32px;
    opacity: .5;
    transition: color .5s;
}

.social-icons i:hover,
.social-icons i:focus {
    color: var(--secondary-font-color);
}

.newsletter-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsletter-input {
    width: 100%;
    max-width: 400px;
    padding: 16px;
    border: none;
    outline: none;
}

.newsletter-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--main-font-color-dark);
    font-size: 22px;
    padding: 1px 29px;
    outline: none;
}

.newsletter-form-box {
    background-color: var(--white-color);
    border-radius: 7px;
    display: flex;
    overflow-x: hidden;
}

                 

.bakers h4 {
    font-size: 40px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 48px;
}

.bakers__container img {
    width: 424px;
    height: 584px;
}

.baker {
    text-align: center;
    margin-bottom: 112px;
}

.baker:last-child {
    margin-bottom: 0;
}

.baker h5 {
    font-size: 27px;
    text-transform: uppercase;
    margin-top: 32px;
    letter-spacing: 5px;
}

.baker .social-icons {
    margin: 16px 0 0;
    display: flex;
    justify-content: center;
}

.baker .social-icons i {
    font-size: 32px;
    color: var(--secondary-font-color);
    padding: 12px;
}

.baker .social-icons i:hover,
.baker .social-icons i:focus {
    color: #241f17;
}

/* JOIN US SECTION */

.join-us .image {
    display: none;
}

/*                         MEDIA QUERIES                  */

@media screen and (min-width: 900px) {
    section {
        padding: 126px;
    }

    .menu-toggle {
        display: none;
    }

    .navbar {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        min-height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        border: none;
        margin: 0 38px;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 20px;
    }

    .active {
        position: relative;
    }

    .active::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: var(--white-color);
        left: 0;
        bottom: -3px;
    }

    /* .sub-headline {
        font-size: 100px;
    } */

    .headline {
        font-size: 40px;
    }

    .story-img {
        max-width: 640px;
    }

    .row {
        display: flex;
        align-items: center;
    }

    .row > div {
        flex: 1;
    }

    .padding-right {
        padding-right: 112px;
    }

    .footer__content {
        max-width: 1240px;
        margin: auto;
    }

    .footer__content-about {
        max-width: 820px;
        margin: 0 auto 86px;
    }

    .footer__content-divider {
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .newsletter-form {
        width: 100%;
        max-width: 438px;
        margin: 0 16px;
    }

    .social-icons i {
        opacity: 1;
    }

    .reservation__form {
        display: flex;
        align-items: flex-start;
        margin: 64px 0 32px;
    }

    .reservation__form > *:not(:last-child) {
        margin-right: 32px;
    }

    .bakers__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 32px;
    }

    .bakers__container img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    .baker:last-child {
        margin-bottom: 112px;
    }

    .join-us .image {
        display: block;
    }

}

/*          ANIMATIONS           */

@keyframes fadeUp {
    0% {
        transform: translateY(64px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes scaleBigger {
    0% {
        transform: scale(2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        opacity: 1;
        transform: scale(-360deg);
    }
}

@keyframes showsUp {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: translateY(-16px);
    }
}